header{
display:block;
}
body{
background-color:cyan;
}
h1{
color:red;
}
h2{
color:blue;
}
h3{
color:maroon;
}
p{
color:green;
}

table{
backgroung-color:#000000;
border-collapse:collapse;
bprder:1px red;
}